{% if request.path contains 'all-mattresses' %}
<!-- category thumbnail code start -->
  <div class="category-thumbnail">
      <div class="goods desktop-view">
        <ul class="goods-list">
          <li class="goods-item">
            <a class="goods-link" href="/products/rem-fit-pocket-1000-memory-foam-hybrid-mattress">
              <div class="goods-imagewrap">
                <img src="//www.rem-fit.co.uk/cdn/shop/files/Pocket_1000_small_navv2_1_grande.png?v=1729241436" alt="Product Image" class="{&quot;width&quot;=>1200, &quot;height&quot;=>800}">
              </div>
              <div class="desktop-contitem">
                <h5 class="desk-prod-title">Hybrid 1000 </h5>
                <h4 class="desk-prod-metaf">Medium-firm (7/10)</h4>
                <h4 class="desk-prod-pockets">1000 Pocket Springs</h4>
                <span class="sale-tag-discount">From £{{ all_products["rem-fit-pocket-1000-memory-foam-hybrid-mattress"].price | divided_by: 100.00 }} </span>
              </div>
              </a>
          </li>
          <li class="goods-item">
            <a class="goods-link" href="/products/rem-fit-400-hybrid-mattress">
              <div class="goods-imagewrap">
                <img src="//www.rem-fit.co.uk/cdn/shop/files/400_small_navv2_grande.png?v=1729241518" alt="Product Image" class="{&quot;width&quot;=>1200, &quot;height&quot;=>800}">
              </div>
              <div class="desktop-contitem">
                <h5 class="desk-prod-title">400 Hybrid </h5>
                <h4 class="desk-prod-metaf">Medium (6/10)</h4>
                <h4 class="desk-prod-pockets">2000 Pocket Springs</h4>
                <span class="sale-tag-discount">From £{{ all_products["rem-fit-400-hybrid-mattress"].price | divided_by: 100.00 }} </span>
              </div>
              </a>
          </li>
          <li class="goods-item">
            <a class="goods-link" href="/products/rem-fit-500-ortho-hybrid-mattress">
              <div class="goods-imagewrap">
                <img src="//www.rem-fit.co.uk/cdn/shop/files/500_small_navv2_grande.png?v=1729241505" alt="Product Image" class="{&quot;width&quot;=>1200, &quot;height&quot;=>800}">
              </div>
              <div class="desktop-contitem">
                <h5 class="desk-prod-title"> 500 Ortho Hybrid </h5>
                <h4 class="desk-prod-metaf">Firm (9/10)</h4>
                <h4 class="desk-prod-pockets">2000 Pocket Springs</h4>
                <span class="sale-tag-discount">From £{{ all_products["rem-fit-500-ortho-hybrid-mattress"].price | divided_by: 100.00 }}</span>
              </div>
            </a>
          </li>
          <li class="goods-item">
            <a class="goods-link" href="/products/rem-fit-600-lux-hybrid-mattress">
              <div class="goods-imagewrap">
                <img src="//www.rem-fit.co.uk/cdn/shop/files/600_small_navv2_grande.png?v=1729241492" alt="Product Image" class="{&quot;width&quot;=>1200, &quot;height&quot;=>800}">
              </div>
              <div class="desktop-contitem">
                <h5 class="desk-prod-title"> 600 Lux Hybrid </h5>
                <h4 class="desk-prod-metaf">Medium-firm (7.5/10)</h4>
                <h4 class="desk-prod-pockets">4000 Pocket Springs</h4>
                <span class="sale-tag-discount">From £{{ all_products["rem-fit-600-lux-hybrid-mattress"].price | divided_by: 100.00 }}</span>
              </div>
            </a>
          </li>
          <li class="goods-item">
            <a class="goods-link" href="/products/rem-fit%C2%AE-400-elite-hybrid-mattress">
              <div class="goods-imagewrap">
                <img src="https://www.rem-fit.co.uk/cdn/shop/files/400_small_nav_elite_grande.png?v=1729241318" alt="Product Image" class="{&quot;width&quot;=>1200, &quot;height&quot;=>800}">
              </div>
              <div class="desktop-contitem">
                <h5 class="desk-prod-title"> 400 Hybrid Elite </h5>
                <h4 class="desk-prod-metaf">Medium (6/10)</h4>
                <h4 class="desk-prod-pockets">3000 Pocket Springs</h4>
                <span class="sale-tag-discount">From £{{ all_products["rem-fit®-400-elite-hybrid-mattress"].price | divided_by: 100.00 }} </span>
              </div>
            </a>
          </li>
          <li class="goods-item">
            <a class="goods-link" href="/products/rem-fit®-500-ortho-elite-hybrid-mattress">
              <div class="goods-imagewrap">
                <img src="https://www.rem-fit.co.uk/cdn/shop/files/500_small_nav_elite_grande.png?v=1729241335" alt="Product Image" class="{&quot;width&quot;=>1200, &quot;height&quot;=>800}">
              </div>
              <div class="desktop-contitem">
                <h5 class="desk-prod-title"> 500 Ortho Elite </h5>
                <h4 class="desk-prod-metaf">Firm (9/10)</h4>
                <h4 class="desk-prod-pockets">4000 Pocket Springs</h4>
                <span class="sale-tag-discount">From £{{ all_products["rem-fit®-500-ortho-elite-hybrid-mattress"].price | divided_by: 100.00 }} </span>
              </div>
            </a>
          </li>
          <li class="goods-item">
          <a class="goods-link" href="/products/copy-of-rem-fit-600®-lux-hybrid-mattress">
            <div class="goods-imagewrap">
              <img src="https://www.rem-fit.co.uk/cdn/shop/files/600_small_nav_elite_grande.png?v=1729241423" alt="Product Image" class="{&quot;width&quot;=>1200, &quot;height&quot;=>800}">
            </div>
            <div class="desktop-contitem">
              <h5 class="desk-prod-title"> 600 Lux Elite </h5>
              <h4 class="desk-prod-metaf">Medium (6/10)</h4>
              <h4 class="desk-prod-pockets">5000 Pocket Springs</h4>
              <span class="sale-tag-discount">From £{{ all_products["copy-of-rem-fit-600®-lux-hybrid-mattress"].price | divided_by: 100.00 }} </span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
<!-- category thumbnail code end -->

{% elsif request.path contains 'rem-fit-hybrid-mattresses' %}

<!-- category thumbnail code start -->
  <div class="category-thumbnail">
      <div class="goods desktop-view">
        <ul class="goods-list">
          <li class="goods-item">
            <a class="goods-link" href="/products/rem-fit-pocket-1000-memory-foam-hybrid-mattress">
              <div class="goods-imagewrap">
                <img src="//www.rem-fit.co.uk/cdn/shop/files/Pocket_1000_small_navv2_1_grande.png?v=1729241436" alt="Product Image" class="{&quot;width&quot;=>1200, &quot;height&quot;=>800}">
              </div>
              <div class="desktop-contitem">
                <h5 class="desk-prod-title">Hybrid 1000 </h5>
                <h4 class="desk-prod-metaf">Medium-firm tension (7/10)</h4>
                <h4 class="desk-prod-pockets">1000 Pocket Springs</h4>
                <span class="sale-tag-discount">From £{{ all_products["rem-fit-pocket-1000-memory-foam-hybrid-mattress"].price | divided_by: 100.00 }} </span>
              </div>
              </a>
          </li>
          <li class="goods-item">
            <a class="goods-link" href="/products/rem-fit-400-hybrid-mattress">
              <div class="goods-imagewrap">
                <img src="//www.rem-fit.co.uk/cdn/shop/files/400_small_navv2_grande.png?v=1729241518" alt="Product Image" class="{&quot;width&quot;=>1200, &quot;height&quot;=>800}">
              </div>
              <div class="desktop-contitem">
                <h5 class="desk-prod-title">400 Hybrid </h5>
                <h4 class="desk-prod-metaf">Medium tension (6/10)</h4>
                <h4 class="desk-prod-pockets">2000 Pocket Springs</h4>
                <span class="sale-tag-discount">From £{{ all_products["rem-fit-400-hybrid-mattress"].price | divided_by: 100.00 }} </span>
              </div>
              </a>
          </li>
          <li class="goods-item">
            <a class="goods-link" href="/products/rem-fit-500-ortho-hybrid-mattress">
              <div class="goods-imagewrap">
                <img src="//www.rem-fit.co.uk/cdn/shop/files/500_small_navv2_grande.png?v=1729241505" alt="Product Image" class="{&quot;width&quot;=>1200, &quot;height&quot;=>800}">
              </div>
              <div class="desktop-contitem">
                <h5 class="desk-prod-title"> 500 Ortho Hybrid </h5>
                <h4 class="desk-prod-metaf">Firm tension (9/10)</h4>
                <h4 class="desk-prod-pockets">2000 Pocket Springs</h4>
                <span class="sale-tag-discount">From £{{ all_products["rem-fit-500-ortho-hybrid-mattress"].price | divided_by: 100.00 }}</span>
              </div>
            </a>
          </li>
          <li class="goods-item">
            <a class="goods-link" href="/products/rem-fit-600-lux-hybrid-mattress">
              <div class="goods-imagewrap">
                <img src="//www.rem-fit.co.uk/cdn/shop/files/600_small_navv2_grande.png?v=1729241492" alt="Product Image" class="{&quot;width&quot;=>1200, &quot;height&quot;=>800}">
              </div>
              <div class="desktop-contitem">
                <h5 class="desk-prod-title"> 600 Lux Hybrid </h5>
                <h4 class="desk-prod-metaf">Medium-firm tension (7.5/10)</h4>
                <h4 class="desk-prod-pockets">4000 Pocket Springs</h4>
                <span class="sale-tag-discount">From £{{ all_products["rem-fit-600-lux-hybrid-mattress"].price | divided_by: 100.00 }}</span>
              </div>
            </a>
          </li>
      </ul>
    </div>
  </div>
<!-- category thumbnail code end -->
  
{% elsif request.path contains 'elite-hybrid-mattresses' %}
<!-- category thumbnail code start -->
  <div class="category-thumbnail">
    <div class="goods desktop-view">
      <ul class="goods-list">
        <li class="goods-item">
            <a class="goods-link" href="/products/rem-fit%C2%AE-400-elite-hybrid-mattress">
              <div class="goods-imagewrap">
                <img src="https://www.rem-fit.co.uk/cdn/shop/files/400_small_nav_elite_grande.png?v=1729241318" alt="Product Image" class="{&quot;width&quot;=>1200, &quot;height&quot;=>800}">
              </div>
              <div class="desktop-contitem">
                <h5 class="desk-prod-title"> 400 Hybrid Elite </h5>
                <h4 class="desk-prod-metaf">Medium tension (6/10)</h4>
                <h4 class="desk-prod-pockets">3000 Pocket Springs</h4>
                <span class="sale-tag-discount">From £{{ all_products["rem-fit®-400-elite-hybrid-mattress"].price | divided_by: 100.00 }} </span>
              </div>
            </a>
          </li>
          <li class="goods-item">
            <a class="goods-link" href="/products/rem-fit®-500-ortho-elite-hybrid-mattress">
              <div class="goods-imagewrap">
                <img src="https://www.rem-fit.co.uk/cdn/shop/files/500_small_nav_elite_grande.png?v=1729241335" alt="Product Image" class="{&quot;width&quot;=>1200, &quot;height&quot;=>800}">
              </div>
              <div class="desktop-contitem">
                <h5 class="desk-prod-title"> 500 Ortho Elite </h5>
                <h4 class="desk-prod-metaf">Firm tension (9/10)</h4>
                <h4 class="desk-prod-pockets">4000 Pocket Springs</h4>
                <span class="sale-tag-discount">From £{{ all_products["rem-fit®-500-ortho-elite-hybrid-mattress"].price | divided_by: 100.00 }} </span>
              </div>
            </a>
          </li>
          <li class="goods-item">
          <a class="goods-link" href="/products/copy-of-rem-fit-600®-lux-hybrid-mattress">
            <div class="goods-imagewrap">
              <img src="https://www.rem-fit.co.uk/cdn/shop/files/600_small_nav_elite_grande.png?v=1729241423" alt="Product Image" class="{&quot;width&quot;=>1200, &quot;height&quot;=>800}">
            </div>
            <div class="desktop-contitem">
              <h5 class="desk-prod-title"> 600 Lux Elite </h5>
              <h4 class="desk-prod-metaf">Medium tension (6/10)</h4>
              <h4 class="desk-prod-pockets">5000 Pocket Springs</h4>
              <span class="sale-tag-discount">From £{{ all_products["copy-of-rem-fit-600®-lux-hybrid-mattress"].price | divided_by: 100.00 }} </span>
            </div>
          </a>
        </li>
    </ul>
  </div>
  </div>
<!-- category thumbnail code end -->

{% endif %}