{% assign free_products_image_urls = product.metafields.custom.free_gift_Image_url | split: ',' %}
{% assign free_products_titles = product.metafields.custom.free_gift_product_title | split: ',' %}
{% assign free_products_compare_prices = product.metafields.custom.free_gift_products_compare_at_price | split: ',' %}
<div class="is-visible">
  <div class="free-gift-pdp-container">
    <div class="free-gift-pdp-content">
      <h3 class="primary-title">{{ block.settings.title_free_gift }}</h3>
      <div class="description">{{ block.settings.subtitle_free_gift }}</div>
      <div class="free-gift-pdp-addon">
        <div class="free-gift-pdp__items">
        
          {% for index in (0..free_products_titles.size) %}
            {% assign free_product_image_url = free_products_image_urls[index] %}
            {% assign free_product_title = free_products_titles[index] %}
            {% assign free_product_compare_price = free_products_compare_prices[index] %}
         
            {% if free_product_title and free_product_image_url %}
              <div class="free-gift-pdp__item">
                <div class="free-gift-pdp__item-checkbox">
                  <label class="free-gift-pdp-checkbox-label">
                    <input type="checkbox" class="checkbox-input rebuy-checkbox" checked disabled >
                  </label>
                </div>
                <div class="free-gift-pdp__item-image">
                  <img src="{{ free_product_image_url }}" alt="free product image">
                </div>
                <div class="free-gift-pdp__item-info">
                  <div class="free-gift-pdp__item-product-title">
                    {% if free_product_title contains 'Pillow' %}
                      <p id="bold" class="bold" style="display: inline;">1</p> X 
                    {% endif %}{{ free_product_title }}
                  </div>
                  <div class="free-gift-pdp__item-product-price free-gift-pdp-product-price">
                    <div>
                      <span class="free-gift-pdp-money sale" style="margin-right: 10px;">
                        <span class="sr-only">Sale price</span> <span style="font-weight:600; color: #58327a;">FREE</span>
                      </span> 
                      <span class="free-gift-pdp-money compare-at">
                        <span class="sr-only">Original price</span>
                        <span id="compare_price" >{{ free_product_compare_price }}</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      
      {% if template.suffix == 'mattress-bundle' %}
        <div class="free-gift-pdp__item" style="margin-top:20px;">
                <div class="free-gift-pdp__item-checkbox">
                  <label class="free-gift-pdp-checkbox-label">
                    <input type="checkbox" class="checkbox-input rebuy-checkbox" checked disabled >
                  </label>
                </div>
                <div class="free-gift-pdp__item-image">
                  <img src="https://cdn.shopify.com/s/files/1/0635/4432/8438/files/premium_pillow_protector_cotton_terry_towelling_aacc2b4f-64e6-427c-93d1-990190306b3a.jpg?v=1729093807" alt="free product image">
                </div>
                <div class="free-gift-pdp__item-info">
                  <div class="free-gift-pdp__item-product-title">
                      <p id="bold" class="bold" style="display: inline;">1</p> X 
                    Cotton Pillow Protector
                  </div>
                  <div class="free-gift-pdp__item-product-price free-gift-pdp-product-price">
                    <div>
                      <span class="free-gift-pdp-money sale" style="margin-right: 10px;">
                        <span class="sr-only">Sale price</span> <span style="font-weight:600; color: #58327a;">FREE</span>
                      </span> 
                      <span class="free-gift-pdp-money compare-at">
                        <span class="sr-only">Original price</span>
                        <span id="compare_price">£29</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
        <div data-rebuy-id="205022" data-rebuy-shopify-product-ids="{{ product.id }}"></div>
      {% endif %}
      
      <div data-rebuy-id="196540" data-rebuy-shopify-product-ids="{{ product.id }}"></div>
    </div>

    {% if template.suffix == 'mattress-bundle' %}
      <div style="font-weight:600;margin-top:16px;color:#3f2155">Total free gifts value: £399</div>
    {% endif %}
    
  </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<script>
var previousOption = '';
var initialMultiplication = false;
var shouldDivide = false;

$(document).ready(function() {
  const items = $('.free-gift-pdp__item');
  const selectedOption = $('select#size_dropdown').find('option:selected').val();

  items.each(function() {
    const boldTag = $(this).find('.bold');
    const comparePriceElement = $(this).find('.free-gift-pdp-money.compare-at');
    const comparePrice = parseFloat(comparePriceElement.text().replace(/[^0-9.-]+/g, ""));

    if (boldTag.length > 0 && !isNaN(comparePrice)) {
      if (selectedOption.includes('Double') || selectedOption.includes('King')) {
        boldTag.text('2');
        comparePriceElement.text('£' + (comparePrice * 2).toFixed(2));
        initialMultiplication = true;
      } else {
        boldTag.text('1');
        comparePriceElement.text('£' + comparePrice.toFixed(2));
      }
    }
  });

  previousOption = selectedOption;
});

$('select#size_dropdown').change(function() {
  const selectedOption = $(this).find('option:selected').val();
  const items = $('.free-gift-pdp__item');

  items.each(function() {
    const boldTag = $(this).find('.bold');
    const comparePriceElement = $(this).find('.free-gift-pdp-money.compare-at');
    const comparePrice = parseFloat(comparePriceElement.text().replace(/[^0-9.-]+/g, ""));

    if (boldTag.length > 0 && !isNaN(comparePrice)) {
      if (previousOption.includes('Double') || previousOption.includes('King')) {
        if (!selectedOption.includes('Double') && !selectedOption.includes('King') && initialMultiplication) {
          comparePriceElement.text('£' + (comparePrice / 2).toFixed(2));
          shouldDivide = true;
        }
      }

      if (selectedOption.includes('Double') || selectedOption.includes('King')) {
        if (!(previousOption.includes('Double') || previousOption.includes('King'))) {
          boldTag.text('2');
          comparePriceElement.text('£' + (comparePrice * 2).toFixed(2));
          initialMultiplication = true;
          shouldDivide = false;
        }
      } else {
        boldTag.text('1');
        if (shouldDivide) {
          comparePriceElement.text('£' + (comparePrice / 2).toFixed(2));
          shouldDivide = false;
        } else {
          comparePriceElement.text('£' + comparePrice.toFixed(2));
        }
        initialMultiplication = false;
      }
    }
  });

  previousOption = selectedOption;
});
</script>

